<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="scripts/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="myst/style.css">
</head>
<body>

<div class="wrapper">
<div class="container-fluid">
<h1 style="text-align: center;">Search Envato</h1>

<div class="row">
<div class="col-md-6 col-md-offset-3">
<form action="/search" method="post">
	<input type="text" name="search" class="form-control sach" placeholder="Search...">
	<button class="btn btn-primary bt" type="submit">Search</button>
</form>
</div>
</div>
<div class="row">
	<div class="col-md-12">
	<!-- This is the product that will be viewed -->
		<div class="product">
			<div class="thumbnail"></div>
			<div class="title"><h3>Product</h3></div>
			<div class="description"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas qui rem minus unde temporibus pariatur sunt veritatis.</p></div>
			<div class="action kati"><button class="btn btn-primary bt">Demo</button><button class="btn btn-success bt">Buy</button></div>
		</div>

		<div class="product">
			<div class="thumbnail"></div>
			<div class="title"><h3>Product</h3></div>
			<div class="description"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas qui rem minus unde temporibus pariatur sunt veritatis.</p></div>
			<div class="action kati"><button class="btn btn-primary bt">Demo</button><button class="btn btn-success bt">Buy</button></div>
		</div>

		<div class="product">
			<div class="thumbnail"></div>
			<div class="title"><h3>Product</h3></div>
			<div class="description"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas qui rem minus unde temporibus pariatur sunt veritatis.</p></div>
			<div class="action kati"><button class="btn btn-primary bt">Demo</button><button class="btn btn-success bt">Buy</button></div>
		</div>
	</div>
</div>

</div>
</div>

<script src="jq/jquery.min.js"></script>
<script src="scripts/js/bootstrap.min.js"></script>
<script src="myst/script.js"></script>

</body>
</html>