<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="scripts/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="myst/style.css">
</head>
<body>

<div class="wrapper">
<div class="container">
<h1 style="text-align: center;">Search Envato</h1>

<div class="row">
<div class="col-md-6 col-md-offset-3">
<form action="/search" method="post">
	<input type="text" name="search" class="form-control sach" placeholder="Search...">
	<button class="btn btn-primary bt" type="submit">Search</button>
</form>
</div>
</div>

</div>
</div>

<script src="jq/jquery.min.js"></script>
<script src="scripts/js/bootstrap.min.js"></script>
<script src="myst/script.js"></script>

</body>
</html>